<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <add name="Default-Db" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\Store\northwindEF.db"/>
    <!--<add name="Default-Db" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=True"/>-->
  </connectionStrings>
</configuration>