<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <!--<add name="Default-Db" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\Store\northwindEF.db"/>-->
    <!--<add name="Default-Db" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=AdventureWorks2008;Integrated Security=True"/>-->
    <!--<add name="Default-Db" providerName="System.Data.SqlClient" connectionString="Data Source=10.110.5.66;Initial Catalog=trgATTCRM;Persist Security Info=True;User ID=dev;Password=dev" />-->
    <add name="Default-Db" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"/>
    
  </connectionStrings>
</configuration>