*.csproj.user
CrystalMapper.Test/obj/
CrystalMapper.Test/bin/
CrystalMapper.UnitTest/obj/
CrystalMapper.UnitTest/bin/
CrystalMapper.suo
CrystalMapper/bin/
CrystalMapper/obj/
TestResults/

.DS_Store
.vs
