<%----------------------------------------------------------------------------  
 * Author: Faraz Masood Khan
 * Description: This template generate entities against all tables in the database
 * Email: info@fanaticlab.com
 * Project: http://www.fanaticlab.com/projects/crystalmapper/
 * Copyright (c) 2013 FanaticLab
------------------------------------------------------------------------------%>

<%@ CodeTemplate Language="C#" Src="HelperFunctions.cs" Inherits="HelperFunctions" TargetLanguage="C#" OutputType="None" Debug="False" Description="Generates a complete set of Business Objects Mapping for CrystalMapper .csproj file." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Optional="False" Category="1a. Source Database" Description="The source database to generate from." %>
<%@ Property Name="ExcludedTables" Type="SchemaExplorer.TableSchemaCollection" Optional="True" Category="1b. Database Options" Description="A collection of tables to be excluded during generation." %>
<%@ Property Name="TablePrefix" Type="System.String" Default="" Optional="True" Category="1b. Database Options" Description="A prefix that will be stripped from table names when class names are generated." %>
<%@ Property Name="ModelNamespace" Type="System.String" Default="CrystalMapper.Model" Optional="False" Category="3b. Namespaces" Description="The desired Namespace for the Business Objects/Model." %>
<%@ Property Name="ExportPath" Type="System.String" Default="<Project Model Folder>\Mapping\" Optional="False" Category="3b. Path" Description="Path where files to be dumped" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="Microsoft.Build.Engine" %>
<%@ Assembly Name="Microsoft.Build.Utilities" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>

<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>

<%@ Register Name="BusinessObjectOracle" Template="BusinessObject.oracle.cst" %>
<%@ Register Name="BusinessObjectSQLite" Template="BusinessObject.sqlite.cst" %>
<%@ Register Name="BusinessObjectMySQL" Template="BusinessObject.mysql.cst" %>
<%@ Register Name="BusinessObjectSqlServer" Template="BusinessObject.sqlserver.cst" %>
<%@ Register Name="BusinessObjectSqlServerCe" Template="BusinessObject.sqlserverce.cst" %>
<%@ Register Name="BusinessObjectPostgreSQL" Template="BusinessObject.pgsql.cst" %>
<%@ Register Name="DatabaseContext" Template="DatabaseContext.cst" %>

<script runat="template">

public override void Render(TextWriter writer)
{    
    if(!String.IsNullOrEmpty(ExportPath) && !ExportPath.EndsWith(@"\"))
        ExportPath += @"\";
    
	this.tablePrefix = this.TablePrefix;
	if(ExcludedTables == null)
		ExcludedTables = new TableSchemaCollection();
	
    foreach(TableSchema table in SourceDatabase.Tables)
		if(!ExcludedTables.Contains(table))
		{	
			RenderBusinessObjects(table);
		}
        
    string fileName = String.Format("{0}Db.cs", SourceDatabase.Name);
    fileName = System.IO.Path.Combine(ExportPath, fileName);
    DatabaseContext dbContextObject = this.Create<DatabaseContext>();
    dbContextObject.Database = SourceDatabase;
    dbContextObject.ModelNamespace = this.ModelNamespace;
    dbContextObject.RenderToFile(GetOutputFile(fileName, null), true);
}

private void RenderBusinessObjects(TableSchema table)
{    
	string fileName = String.Format("{0}.cs", GetClassName(table));
	fileName = System.IO.Path.Combine(ExportPath, fileName);
	    
    switch(table.Database.Provider.Name)
    {
        case "OracleSchemaProvider" :
        {
            BusinessObjectOracle businessObject = this.Create<BusinessObjectOracle>();
            businessObject.ModelNamespace = this.ModelNamespace;
            businessObject.SourceTable = table;
            businessObject.TablePrefix = this.TablePrefix;
            businessObject.RenderToFile(GetOutputFile(fileName, null), true);
            }
            break;
        
        case "SqlSchemaProvider" :
        {
            BusinessObjectSqlServer businessObject = this.Create<BusinessObjectSqlServer>();
            businessObject.ModelNamespace = this.ModelNamespace;
            businessObject.SourceTable = table;
            businessObject.TablePrefix = this.TablePrefix;
            businessObject.RenderToFile(GetOutputFile(fileName, null), true);
            }
            break;
        
        case "SqlCompactSchemaProvider" :
        {
            BusinessObjectSqlServerCe businessObject = this.Create<BusinessObjectSqlServerCe>();
            businessObject.ModelNamespace = this.ModelNamespace;
            businessObject.SourceTable = table;
            businessObject.TablePrefix = this.TablePrefix;
            businessObject.RenderToFile(GetOutputFile(fileName, null), true);
            }
            break;        
        
        case "SQLiteSchemaProvider" :
        {   
            BusinessObjectSQLite businessObject = this.Create<BusinessObjectSQLite>();
            businessObject.ModelNamespace = this.ModelNamespace;
            businessObject.SourceTable = table;
            businessObject.TablePrefix = this.TablePrefix;
            businessObject.RenderToFile(GetOutputFile(fileName, null), true);
         }
            break;        
        case "MySQLSchemaProvider" :
        {   
            BusinessObjectMySQL businessObject = this.Create<BusinessObjectMySQL>();
            businessObject.ModelNamespace = this.ModelNamespace;
            businessObject.SourceTable = table;
            businessObject.TablePrefix = this.TablePrefix;
            businessObject.RenderToFile(GetOutputFile(fileName, null), true);
         }
            break;      
		case "PostgreSQLSchemaProvider" :
        {   
            BusinessObjectPostgreSQL businessObject = this.Create<BusinessObjectPostgreSQL>();
            businessObject.ModelNamespace = this.ModelNamespace;
            businessObject.SourceTable = table;
            businessObject.TablePrefix = this.TablePrefix;
            businessObject.RenderToFile(GetOutputFile(fileName, null), true);
         }
            break;   
        default:
            throw new InvalidOperationException (string.Format("There is no template exists for schema provider '{0}'", table.Database.Provider.Name));
    }
}

private OutputFile GetOutputFile(string fileName, string dependentUpon, params object[] metaData)
{
	OutputFile outputFile = new OutputFile(fileName);
	
	if(!String.IsNullOrEmpty(dependentUpon))
		outputFile.DependentUpon = Path.GetFullPath(dependentUpon);
	
	if(metaData.Length % 2 != 0)
		throw new Exception("Invalid Metadata: Provide 2 objects per entry, a String (key) followed by an Object.");
	for(int x=0; x<metaData.Length; x+=2)
    	outputFile.Metadata.Add(metaData[x].ToString(), metaData[x+1]);
		
	return outputFile;
}
private string GetFolder(string folder)
{
	if (folder.Contains(".") && !folder.EndsWith("."))
        folder = folder.Substring(folder.LastIndexOf('.')+1);
		
	if(String.IsNullOrEmpty(folder))
		folder = String.Empty;
	else
	{
		if (!Directory.Exists(folder))
            Directory.CreateDirectory(folder);
			
		if (!folder.EndsWith("\\"))
			folder = String.Format("{0}\\", folder);
	}
	return folder;
}
</script>